
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/StyleHome.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <title>Sale</title>
</head>
<body>   
    <div>
        <div class="navbar navbar-inverse" role="navigation">
            @Html.Action("Summary", "Cart")
        </div>
        <div class="container">
            <div class="text_center">
                <img src="~/Img/книга1.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга2.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга3.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга4.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга5.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга6.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга7.jpg" width="280" height="380" class="img_polygon">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга1.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        </blockquote>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
                            <br /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                            <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга2.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-2 col-md-4">
                        <blockquote>
                            <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        </blockquote>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
                            <br /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                            <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга3.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        </blockquote>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
                            <br /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                            <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга4.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-2 col-md-4">
                        <blockquote>
                            <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        </blockquote>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
                            <br /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                            <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга5.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        </blockquote>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
                            <br /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                            <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974
                        </p>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга6.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-2 col-md-4">
                        <blockquote>
                            <p>Рэй Брэдбери</p> <small><cite title="Source Title">Gotham, United Kingdom</cite></small>
                        </blockquote>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
                            <br /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                            <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга7.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <p>Рэй Брэдбери</p> <small>
                                <cite title="Source Title">
                                    Войдите в светлый мир двенадцатилетнего мальчика и проживите вместе с ним одно лето, наполненное событиями радостными и печальными, загадочными и тревожными; лето, когда каждый день совершаются удивительные открытия, главное из которых — ты живой, ты дышишь, ты чувствуешь!
                                    "Вино из одуванчиков" Рэя Брэдбери — классическое произведение, вошедшее в золотой фонд мировой литературы. Это одна из тех книг, которые хочется перечитывать вновь и вновь.
                                </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Зарубежная литература
                        <br />
                        ✔ Цена: 16,47 руб
                        <br />
                        ✔ Год выпуска: 2015
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
