
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/StyleHome.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <title>Sale</title>
</head>
<body>   
    <div>
        <div class="navbar navbar-inverse" role="navigation">
            @Html.Action("Summary", "Cart")
        </div>
        <div class="container">
            <div class="text_center">
                <img src="~/Img/книга8.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга2.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга3.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга4.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга5.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга6.jpg" width="280" height="380" class="img_polygon">
                <img src="~/Img/книга7.jpg" width="280" height="380" class="img_polygon">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div>
                    @*Книга1*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга1.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Над пропастью во ржи</cite>
                            <p><h5>✐ Джером Сэлинджер</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Писатель-классик, писатель-загадка, на пике своей карьеры объявивший об уходе из литературы и поселившийся в глухой американской провинции вдали от мирских соблазнов...
                                    Единственный роман Сэлинджера "Над пропастью во ржи" стал переломной вехой в истории мировой литературы. Название романа и имя главного героя Холдена Колфилда сделались кодовыми для многих поколений молодых бунтарей - от битников и хиппи до представителей современных радикальных молодежных движений.
                                </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Роман
                        <br />
                        ✔ Цена: 22 руб
                        <br />
                        ✔ Год выпуска: 2016
                    </div>
                    @*Книга2*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга2.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-2 col-md-4">
                        <blockquote>
                            <cite title="Source Title">После тебя</cite>
                            <p><h5>✐ Джоджо Мойес</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Теперь Лу Кларк не просто обычная девчонка, живущая обыденной жизнью. Шесть месяцев, проведенных с Уиллом Трейнором, навсегда изменили ее. Непредвиденные обстоятельства заставляют Лу вернуться домой к своей семье, и она поневоле чувствует, что ей придется все начинать сначала.

                                    Раны телесные залечены, а вот душа страдает, ищет исцеления! И это исцеление ей дают члены группы психологической поддержки, предлагая разделить с ними радости, печали и ужасно невкусное печенье.
                                </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Роман
                        <br />
                        ✔ Цена: 18 руб
                        <br />
                        ✔ Год выпуска: 2015
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div>
            <div class="container">
                <div class="row">
                    @*Книга3*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга3.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title="Source Title">13 причин почему</cite>
                            <p><h5>✐ Джей Эшер</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Однажды Клэй Дженсен находит на крыльце своего дома странную посылку. Внутри - несколько аудиокассет, которые станут роковыми в судьбе юноши.

                                    Тринадцать человек. Тринадцать причин. Тринадцать историй, рассказанных Ханной Бэйкер, девушкой, которой уже нет в живых.

                                    «Тринадцать причин почему» - трогательная, завораживающая история об отношениях, понимании и сострадании, которая изменила жизни подростков во всем мире.
                                </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Зарубежная литература
                        <br />
                        ✔ Цена: 44 руб
                        <br />
                        ✔ Год выпуска: 2017
                        <br />
                    </div>
                    @*Книга4*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга4.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-2 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Пламя и кровь. Кровь драконов</cite>
                            <p><h5>✐ Джордж Мартин</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Древняя, как сам мир, история сходит со страниц ветхих манускриптов, и только мы, септоны, можем отделить правдивые события от жалких басен, и истину от клеветнических наветов.

                                    Присядьте же поближе к огню, добрые слушатели, и вы узнаете:

                                    как Королевская Гавань стала столицей столиц;
                                    как свершались славные подвиги, неподвластные воображению, - и как братья и сестры, отцы и матери теряли разум в кровавой борьбе за власть;
                                    как драконье племя постепенно уступало место драконам в человеческом обличье;
                                </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Фэнтези
                        <br />
                        ✔ Цена: 53 руб
                        <br />
                        ✔ Год выпуска: 2018

                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div>
            <div class="container">
                <div class="row">
                    @*Книга5*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга5.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Стигмалион</cite>
                            <p><h5>✐ Кристина Старк</h5></p>
                            <small>
                                <cite title="Source Title">Меня зовут Долорес Макбрайд, и я с рождения страдаю от очень редкой формы аллергии: прикосновения к другим людям вызывают у меня сильные ожоги. Я не могу поцеловать парня, обнять родителей, выйти из дома, не надев перчаток. Я неприкасаемая. Я словно живу в заколдованном замке, который держит меня в плену и наказывает ожогами и шрамами за каждую попытку "побега". Я даже придумала имя для своей тюрьмы: Стигмалион. </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Зарубежная литература
                        <br />
                        ✔ Цена: 21 руб
                        <br />
                        ✔ Год выпуска: 2018
                    </div>
                    @*Книга6*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга6.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-2 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Бегущий за ветром</cite>
                            <p><h5>✐ Халед Хоссейни</h5></p>
                            <small>
                                <cite title="Source Title">Амира и Хасана разделяла пропасть. Один принадлежал к местной аристократии, другой - к презираемому меньшинству. У одного отец был красив и важен, у другого - хром и жалок. Один был запойным читателем, другой - неграмотным. Заячью губу Хасана видели все, уродливые же шрамы Амира были скрыты глубоко внутри. Но не найти людей ближе, чем эти два мальчика. </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Зарубежная литература
                        <br />
                        ✔ Цена: 29 руб
                        <br />
                        ✔ Год выпуска: 2013
                    </div>
                </div>
            </div>
        </div>
        <br />         @*Книга7*@
        <div>
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга7.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Вино из одуванчиков</cite>
                            <p><h5>✐ Рэй Брэдбери</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Войдите в светлый мир двенадцатилетнего мальчика и проживите вместе с ним одно лето, наполненное событиями радостными и печальными, загадочными и тревожными; лето, когда каждый день совершаются удивительные открытия, главное из которых — ты живой, ты дышишь, ты чувствуешь!
                                    "Вино из одуванчиков" Рэя Брэдбери — классическое произведение, вошедшее в золотой фонд мировой литературы. Это одна из тех книг, которые хочется перечитывать вновь и вновь.
                                </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Зарубежная литература
                        <br />
                        ✔ Цена: 36 руб
                        <br />
                        ✔ Год выпуска: 2015
                    </div>
                    @*Книга8*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга8.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Везувиан</cite>
                            <p><h5>✐ Эли Фрей</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Везувиан - так называется серо-зеленый камень вулканического происхождения. И так человек по ту сторону веб-камеры назвал девушку с серо-зелеными глазами, за чьей жизнью тайно наблюдает уже восемь лет. Каково это - скрываться столько лет, зная, что твои безграничные чувства к девушке в социуме назовут не любовью, а лишь уродливым и больным ее искажением?
                                    Его жизнь лишится независимости и свободы. Ее жизнь обретет второго хозяина.
                                </cite>
                            </small>
                        </blockquote>
                        <br />
                        ✔ Жанр: Зарубежная литература
                        <br />
                        ✔ Цена: 47 руб
                        <br />
                        ✔ Год выпуска: 2018
                    </div>
                </div>
            </div>
            <br />
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга9.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Букет увядших орхидей</cite>
                            <p><h5>✐ Евгений Гаглоев</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Новое загадочное преступление в окрестностях Клыково ставит в тупик самых опытных следователей. Что за великан забросил автомобиль жертвы на верхушку сосны? Как попал на место преступления букетик редких экзотических цветов? И есть ли связь между этим происшествием и появлением в городе странного монстра из вершков и корешков? Пока полицейские чешут в затылке, вездесущие друзья Тимофея Зверева - ученики академии «Пандемониум» - проводят собственное расследование и, конечно, найдут приключений на свою голову. Самого же Тимофея ожидают находки совсем другого рода.
                                </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Фантастика
                        <br />
                        ✔ Цена: 25 руб
                        <br />
                        ✔ Год выпуска: 2018
                    </div>
                    @*Книга10*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга10.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Закрой дверь за совой</cite>
                            <p><h5>✐ Елена Михалкова</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Человек вышел из дома - и пропал. Растворился в пространстве. Обычная история для большого города, где нет бдительных бабушек на лавочке, а дети предпочитают смотреть в гаджеты, а не по сторонам. Да и что за беда, если исчез старый мошенник Михаил Гройс? Кто о нём заплачет? Но, оказывается, есть люди, которым он дорог.

                                    Частные детективы Макар Илюшин и Сергей Бабкин начинают расследование и быстро выходят на след похитительницы. Или этот след ведёт в тупик? Стоит ли жизнь жулика драгоценной диадемы?
                                </cite>
                            </small>
                        </blockquote>
                        <br />
                        ✔ Жанр: Детектив
                        <br />
                        ✔ Цена: 38 руб
                        <br />
                        ✔ Год выпуска: 2017
                    </div>
                </div>
            </div>
            <br />
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга11.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title="Source Title">Хюгге, или Уютное счастье по-датски</cite>
                            <p><h5>✐ Хелен Расселл</h5></p>
                            <small>
                                <cite title=" ">
                                    Променять Лондон и работу в Marie Claire на датский городок с населением 6 000 человек?! Сначала она твердо сказала "НЕТ". Но потом... муж так мечтал поработать в LEGO. И еще было безумно интересно, как в стране с такой скверной погодой и запредельными налогами живут самые счастливые люди на планете? Согласившись на авантюру с переездом в Данию, Хелен Расселл твердо решила применить свой талант и опыт журналиста и в течение года обязательно выяснить:

                                    как правильно заниматься хюгге (что бы это слово ни означало);
                                    как есть булочки не поправляясь (и не расплачиваться за другие удовольствия тоже);
                                    как стать по-датски счастливым (даже если вы родились на другом конце света).
                                </cite>
                            </small>
                        </blockquote>
                        ✔ Жанр: Кулинария
                        <br />
                        ✔ Цена: 22 руб
                        <br />
                        ✔ Год выпуска: 2017
                    </div>
                    @*Книга12*@
                    <div class="col-sm-2 col-md-2">
                        <img src="~/Img/книга12.jpg" width="150" height="230"
                             alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <blockquote>
                            <cite title=" ">Когда я вернусь, будь дома</cite>
                            <p><h5>✐ Эльчин Сафарли</h5></p>
                            <small>
                                <cite title="Source Title">
                                    Теперь я отчетливее ощущаю вечность жизни. Никто не умрет, и те, кто любил друг друга в одной жизни, непременно встретятся после. Тело, имя, национальность — все будет иным, но нас притянет магнитом: любовь связывает навсегда. А пока что я проживаю жизнь — люблю и, бывает, устаю от любви. Запоминаю мгновения, бережно храню в себе эту память, чтобы завтра или в следующей жизни обо всем написать.
                                </cite>
                            </small>
                        </blockquote>
                        <br />
                        ✔ Жанр: Зарубежная литература
                        <br />
                        ✔ Цена: 18 руб
                        <br />
                        ✔ Год выпуска: 2017
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
