
@{
    ViewBag.Title = "NewBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<div class="container">
    <div class="text_center">
        <img src="~/Img/книга14.jpg" width="230" height="330" class="img_polygon">
        <img src="~/Img/книга15.jpg" width="230" height="330" class="img_polygon">
        <img src="~/Img/книга16.jpg" width="230" height="330" class="img_polygon">
        <img src="~/Img/книга17.jpg" width="230" height="330" class="img_polygon">
        <img src="~/Img/книга18.jpg" width="230" height="330" class="img_polygon">
        <img src="~/Img/книга19.jpg" width="230" height="330" class="img_polygon">
        <img src="~/Img/книга20.jpg" width="230" height="330" class="img_polygon">
    </div>
</div>

