
@{
    ViewBag.Title = "Заказ обработан";
}

<center><h2>Спасибо!</h2></center>
<center>
    <p>
        Спасибо за выбор нашего магазина.
        В ближайшее время заказ будет отправлен.
    </p>
</center>